body {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.signup-form {
    padding-top: 50px;
}

.signup-form .row {
    margin-left: 0;
    margin-right: 0;
}
